[submodule "HybridHarmony"]
	path = HybridHarmony
	url = https://github.com/RhythmsOfRelating/HybridHarmony.git
[submodule "LabVisuals"]
	path = LabVisuals
	url = https://github.com/RhythmsOfRelating/LabVisuals.git
[submodule "LabRecorder"]
	path = LabRecorder
	url = https://github.com/labstreaminglayer/App-LabRecorder.git
[submodule "Archive"]
	path = Archive
	url = https://github.com/RhythmsOfRelating/Archive.git
